.h {
    background-color: rgba(196, 223, 246, 0.564);
    width: auto;
    height: 100px;
    border-radius: 20px;
    margin-right: 2px;
    background-attachment: fixed;
}

.h .htype {
    position: sticky;
    top: 0;
    margin-left: 50px;
    padding-top: 25px;
    display: block;
    float: none;
}

.h .hbutton {
    opacity: 1.0;
    list-style-type: none;
    float: right;
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
    width: device-width;
    padding-bottom: 20px;
    margin-top: 5px;
    padding-inline: 10px;
    gap: 10px;
}

.b {
    margin-top: 10px;
    font-family: Roboto;
    display: flex;
    gap: 5px;
	flex-direction: row;
	justify-content: none;
	width: 100%;
}

.b .introb {
    position: static;
    top: 0;
    flex-shrink: 0;
    color: black;
    padding-left: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    outline: auto;
    outline-color: blue;
    display: auto;
    max-width: 400px;
    height: fit-content;
}

.b .introba {
    display: inline-flexbox;
}

.b h2 {
    padding-top: 10px;
}

.introb .dsv {
    position: sticky;
    top: 0;
    align-items: center;
    float: right;
    overflow: auto;
    display: flex;
    width: 100%;
    padding-right: 5px;
    padding-bottom: 10px;
}

.b .bcontent {
    outline: auto;
    outline-color: blue;
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    flex: 75%;
}

p {
    padding-right: 5px;
}

.b .bcontent p {
    font-size: large;
    padding-left: 10px;
}

.b .mafriend {
    padding: auto;
    width: 98%;
    height: 1000px;
    border-radius: 10px;
    margin-left: auto;
}

.b .bcontent h2 {
    padding-left: 10px;
    font-size: xx-large;
    text-decoration: underline;
}

.b .bcontent h3 {

    padding-left: 15px;
    font-size: x-large;
    text-decoration: none;
}


.b .bcontent p {
    font-size: x-large;
}

.b .bcontent li {
    font-size: x-large;
}

.b .bcontent img {
    margin-left: 20px;
    width: 60%;
    border-radius: 20px;
    outline: auto;
    outline-color: blue;
}

.b .bcontent h4 {
    font-family: monospace;
    font-size: large;
    padding-left: 30px;
}

footer p {
    margin-top: 50px;
}

.h .hbutton .active {
    background-color: rgba(0, 73, 230, 0.484);
}

.f {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 134, 240);
    color: white;
    text-align: center;
  }

.h .hmenu {
    display: none;
}

.h .hbutton #selection img:hover {
    background-color: rgba(0, 136, 255, 0.137);
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .h .hmenu {
        display: inline-block;
        position: relative;
        margin-top: 5px;
        margin-left: 10px;
    }

    .h .hbutton {
        display: none;
    }

    .h .hmenu .hdcontent {
        display: none;
        position: absolute;
        background-color: rgb(129, 191, 233);
        border-radius: 5px;
    }

    .h .hmenu .hdcontent a {
        color: black;
        text-decoration: none;
        display: block;
        font-family: Roboto;
        width: -200px;
        right: auto;
    }

    .h .hmenu:hover .hdcontent {
        display: block;
        float: none;
    }

    .b {   
		flex-direction: column;
		text-align: none;
	}

    .b .introb {
        width: 100%;
        flex: 100%;
    }

	.b .cfdsv .dsv{
		position: static;
		margin:0 auto;
	}
	.b h2{
		padding-left: 0;
		text-align: none;
	}
}